@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  font-size: 20px;
}

.rotated-bg {
  position: relative;
  display: inline-block;
}
.rotated-bg::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -8px;
  width: 105%;
  height: 105%;
  background-color: #66CC8A; /* Change this to match your bg-primary color */
  transform: rotate(-4deg); /* Adjust the angle as needed */
  transform-origin: left top;
  z-index: -1;
}